* {
  color: white;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.horizontal-links {
  display: flex;
  flex-direction: row;
}
.text-color-main {
  font-weight: 700;
  color: white;
}
.text-color-main-name {
  color: rgb(106, 80, 218);
}
#top {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0;
  background: #27292d;
  font-weight: 400;
  color: #27292d;
  padding: 0 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.know-more--specs {
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(135deg, rgb(75, 74, 78), rgb(75, 74, 78));
  border-image: linear-gradient(135deg, rgb(75, 74, 78), rgb(75, 74, 78));
  border-image-slice: 1;
  cursor: pointer;
  transform: scale(1.05);
}
.know-more {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: white;
}
