.view-projects--specs {
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(135deg, rgb(75, 74, 78), rgb(75, 74, 78));
  border-image: linear-gradient(135deg, rgb(75, 74, 78), rgb(75, 74, 78));
  border-image-slice: 1;
  cursor: pointer;
  transform: scale(1.05);
}
.view-projects {
  display: inline-block;
  position: relative;
  padding: 0.6rem 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: white;
}
#projects {
  background-color: #27292d;
  color: #fff;
  height: 100%;
  border-top: 0;
}

section {
  padding: 5rem 0;
}
